body {
    font-size: 12px;
    font-family: "宋体",Verdana, Geneva, Arial, Helvetica, sans-serif;
	/*background-attachment: fixed;
	background-image: url(pic/ctlogo.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;*/
	margin:16px 18px;
	padding:0;
}
.lh0 {
	height:0px;
	line-height:0px;
}

.lh3 {
	height:3px;
	line-height:3px;
}

.lh10 {
	height:10px;
	line-height:10px;
}

.lh20 {
	height:20px;
	line-height:20px;
}

.top-title {
	background-color:#C8C8C8;
	color:#0000EA;
	font-size:14px;
	font-weight: bold;
 	line-height: 44px;
	text-align:left;
	padding-left:8px;
}

.item-title {
	font-weight:bold;
	padding:10px 0 3px 0;
}

table {
	font-size:12px;
}

td {
	white-space:nowrap;
}

td.hd {
    font-weight: bold;
	line-height:22px;
}

tr.hide {
	display:none
}
input {
    font-size:12px;
}

.list {
	padding-bottom:8px;
}
.list h3.list-top {
	background-color:#C8C8C8;
	color:#0000EA;
	font-size:14px;
	font-weight: bold;
 	line-height: 44px;
	text-align:left;
	padding-left:8px;
	margin:3px 0;
}

.menuLink {
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    cursor: hand;
    text-decoration: none;
    text-align: left;
}

.buttonX
{
    margin: 2px;
    FONT-SIZE: 12px;
   /* WIDTH: 60px;*/
    COLOR: #1F3E81;
	height:22px;
	*padding-top:3px;
	padding-bottom:3px; 
    TEXT-ALIGN: center;
    border: 1px solid #BACFEB;
    background-color: #CADAF4;
    text-decoration : none;
    event:expression(
    onmouseover = function(){this.className='buttonX_over';},  
    onmouseout = function(){this.className='buttonX';}  
    )
}
.buttonX_over
{
    margin: 2px;
    FONT-SIZE: 12px;
   /* WIDTH: 60px;*/
    COLOR: #ffffff;
	height:22px;
	*padding-top:3px;
	padding-bottom:3px; 
    TEXT-ALIGN: center;
    border: 1px solid #90B1DF;
    background-color: #A3C0E8;
}
#pluginfoTable,#geographicalPositionTbl,#Sta_reportinfoTbl,#Sta_interfaceinfoTbl{
	margin: 0;
	padding: 0;
	width: 603px;
}
.geographical_con,.Sta_reportinfo_con,.Sta_interfaceinfo_con{
	margin: 0;
	padding: 0;
	width: 603px;
	overflow: hidden;
}
.geographical_con>li,.Sta_reportinfo_con>li,.Sta_interfaceinfo_con>li{
	margin: 0;
	padding: 0;
	width: 603px;
	height: 28px;
	list-style: none;
	overflow: hidden;
}
#ptableHead{
	margin: 0;
	padding: 0;
	width: 603px;
	height: 26px;
	background: #e7e7e7;
	border: 2px solid #333;

}
.geographical_list,.interfaceinfo_list{
	margin: 0;
	padding: 0;
	width: 595px;
	height: 26px;
	border: 2px solid #333;
	border-bottom:0 ;
	overflow: hidden;
}

#ptableHead>li,.geographical_list>li,.interfaceinfo_list>li{
	margin: 0;
	padding: 0;
	padding-left: 5px;
	list-style: none;
	float: left;
	height: 26px;
	line-height: 26px;
	border-right: 2px solid #333;
	font-weight: bold;
	font-size: 12px;
	font-family: "宋体",Verdana,Geneva,Arial,Helvetica,sans-serif;
	color: #000;
}
.interfaceinfo_list>li{
	text-align: center;
}
.geographical_con>li:first-child>ul>li{
	background: #e7e7e7;
	text-align: center;
}
.Sta_reportinfo_con .geographical_list>li:first-child{
	background: #e7e7e7;
}

.pluglistinfo{
	margin: 0;
	padding: 0;
	width: 603px;
	/*height: 26px;*/
	border: 2px solid #333;
	border-top: none;
	overflow: hidden;
}
.pluglistinfo>li{
	font-family: "宋体",Verdana,Geneva,Arial,Helvetica,sans-serif;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	list-style: none;
	float: left;
	border-right: 2px solid #333;
	font-size: 12px;
	color: #000;
	/*自动换行*/
	line-height: 26px;
	display:inline;
	height:auto;
	word-break:break-all;
	word-wrap : break-word ;
}
.businessbox{
	margin: 0;
	padding: 0;
	width: 603px;
}
#businessboxlist{
	margin: 0;
	padding: 0;
	width: 603px;
}
#businessboxlist>li{
	font-family: "宋体",Verdana,Geneva,Arial,Helvetica,sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
	color: #000;
	height: 26px;
	line-height: 26px;
	width: 603px;
}
#businessboxlist>li>span{
	width: 150px;
	display: inline-block;
	color: #000;
	font-size: 12px;
}
#businessboxlist>li>label,#businessboxlist>li>input{
	color: #000;
	font-size: 12px;
}
#call_diagnose_view{
	width: 440px;
	height: 90px;
	margin: 0;
	padding: 0;
	margin-left: 150px;
}
#call_diagnose_view>li{
	list-style: none;
	line-height: 26px;
	color: #000;
	font-size: 12px;
}
.Interface_routinginfo_table{
	font-weight: bold;
	margin: 10px 0 3px 0;
	color: #333;
}
.routetableinfo_title,.interfaceinfo_title{
	background: #e7e7e7;
}

