BODY {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; MARGIN: 0px; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; BACKGROUND-COLOR: #FFF
}
B {
	FONT-WEIGHT: bold! important
}
UL {
	LIST-STYLE-TYPE: none
}
P {
	FONT-SIZE: 10pt; COLOR: #2a2a2a; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}
.main {
	FONT-WEIGHT: bold; FONT-SIZE: 40pt; COLOR: #2a2a2a; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; MARGIN: 0px; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}
TH {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}
A {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; text-decoration:none;}
a:hover {text-decoration:underline;}

A.menu {
	BORDER-RIGHT: #abc5fe 1px solid; BORDER-TOP: #abc5fe 1px solid; PADDING-LEFT: 0px; BORDER-LEFT: #abc5fe 1px solid; WIDTH: 100%; COLOR: #000000; BORDER-BOTTOM: #abc5fe 1px solid; BACKGROUND-COLOR: #abc5fe; TEXT-DECORATION: none
}
A.menu:active {
	BORDER-RIGHT: #0a246a 1px solid; BORDER-TOP: #0a246a 1px solid; PADDING-LEFT: 0px; BORDER-LEFT: #0a246a 1px solid; WIDTH: 100%; COLOR: #abc5fe; BORDER-BOTTOM: #0a246a 1px solid; BACKGROUND-COLOR: #ffbe94; TEXT-DECORATION: none
}
A.menu:visited {
	BORDER-RIGHT: #abc5fe 1px solid; BORDER-TOP: #abc5fe 1px solid; PADDING-LEFT: 0px; BORDER-LEFT: #abc5fe 1px solid; WIDTH: 100%; COLOR: #000000; BORDER-BOTTOM: #abc5fe 1px solid; BACKGROUND-COLOR: #abc5fe; TEXT-DECORATION: none
}
A.menu:hover {
	BORDER-RIGHT: #0a246a 1px solid; BORDER-TOP: #0a246a 1px solid; PADDING-LEFT: 0px; BORDER-LEFT: #0a246a 1px solid; WIDTH: 100%; COLOR: #000000; BORDER-BOTTOM: #0a246a 1px solid; BACKGROUND-COLOR: #ffbe94; TEXT-DECORATION: none
}
P {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #2a2a2a; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}
TD {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #2a2a2a; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}

.Fstmenu TD{
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #FFFFFF; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;}
.Fstmenutd {
	width:80px;FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #FFFFFF; FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}

.Fstmenutd a.Fstmenuoff { display:block; font-size:14px; font-weight:bold; height:23px; line-height:23px; width:80px; background:url(pic/back_button.jpg) no-repeat 0 0; text-decoration:none; padding-top:20px; text-align:center; color:#000;}
.Fstmenutd a.selected {background:url(pic/selected_button.jpg) no-repeat 0 0 !important; color:#fff;}

#Secmenu {padding-left:10px; background-color:#427594;}
.Secmenutd {
	padding:8px 0px;
}
A.Secmenuoff {font-size:12px; color:#000; display:block; padding:0 5px; border-left:1px solid #000;}
.Secmenutd a.selected {color:#fff;}

/**Èý¼¶²Ëµ¥*/
.thdiv { margin-bottom:10px;}

.Thdmenu TR{
	height:25;
}

.Thdmenu td {width:155px; height:30px; display:block; position:relative;}
.Thdmenu td  div {position:relative; height:30px; }
.Thdmenu a.Thdmenuoff { display:block; width:153px; +width:163px; _width:163px; background:#EF8218; height:30px; line-height:30px; font-weight:bold; text-decoration:none; text-align:right; color:#000; padding-right:10px; position:absolute; top:0; right:-8px; }
.Thdmenu a.selected { background-color:#427594; color:#fff;}

/*.Thdmenu td {position:relative;} 
.Thdmenu a.Thdmenuoff { position:absolute; display:block; right:-8px; background:#EF8218; width:152px; +width:162px; _width:162px; font-size:12px; font-weight:bold; text-align:right; height:30px; line-height:30px; padding-right:10px; color:#000; text-decoration:none; z-index:2;}
.Thdmenu a.selected { background-color:#427594; color:#fff;}*/

#logoutlink {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt;  FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;COLOR: #FFFFFF; TEXT-DECORATION: none
}
#guide {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt;  FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;COLOR: #FFFFFF; TEXT-DECORATION: none
}